*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/bus1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.form{
 background-color: rgba(255, 255, 255, 0.2);
 margin-top: 5%;
}
a{
    text-decoration: none;
}
.two_seats{
    margin-top: 45px;
}
.last_seats{
    padding-left: 10px;
}
#err1, #err2, #error1, #error2, #error3, #error4{
    color: red;
    font-size: 12px;
}